* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: papayawhip;
}


/*Navbar*/
.navbar {
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(170, 0, 0);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: aliceblue;
    transition: 0.3s;
}

.navbar-brand:hover{
    color: red;
    
}

.nav-link {
    color: aliceblue;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}




















/*contexto*/
.abc {
    padding-top: 180px;
    padding-bottom: 200px;
   
}

.abc .lead{
    font-weight: 450;
    margin-top: 15px;
    font-size: 1.6rem;
}

.card {
    transition: 0.6s;
}

.card:hover {
    transform: translateY(-8px);
}

.abf {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10px;
}
/*carrossel*/
.carousel-item img {
    height: 65vh;
    object-fit: cover;
    border-radius: 15px;
}

#carro {
    transition: 0.3s;
}

.img-thumbnail {
    border-radius: 15px;
    padding: 5px;
}

#carro:hover {
    transform: translateY(-5px);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 0.2rem;
    backdrop-filter: blur(2px);
}


.cardc {
    padding: 2.0rem;
}

.bope {
    transition: 0.3s;
    border-radius: 25px;
}

.bope:hover {
    transform: translateY(-5px);
}

.abc p {
    padding-bottom: 20px;
}

.texto-principal p {
    font-weight: 500;
    font-size: 1.3rem;
}






















/*opinião dos caba*/

.opnn h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

.opnn img {
    transition: 0.5s;
    max-width: 45vw;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

.opnn img:hover {
    transform: translateY(-5px);
    
}

.opnn .b {
    height: 341px;
}

.opnn {
    margin-bottom: 150px;
    margin-top: 100px;
}

.c {
    margin-bottom: 60px;
}
.opnn .card-text {
    font-weight: 400;
}



/*pebas*/

.opn h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

.opn img {
    transition: 0.5s;
    max-width: 45vw;
    height: auto;
    margin-top: 10px;
}

.opn img:hover {
    transform: translateY(-5px);
}

.opn blockquote{
    transition: 0.5s;
}

.opn blockquote:hover {
    transform: translateY(-5px);
}

.f {
    font-size: 1.4rem;
}

.opn .card-text {
    font-weight: 400;
}




.card-title {
    font-weight: 500;
    font-size: 1.8rem;
}