.carouselbotao{

    background-color: rgb(170, 0, 0);
    border: solid;
    border-color: rgb(170, 0, 0);
border-radius: 10px;
color: white;         
font-weight: bold;      
text-decoration: none;  

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: papayawhip;
}


/*Navbar*/
.navbar {
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(170, 0, 0);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: aliceblue;
    transition: 0.3s;
}

.navbar-brand:hover{
    color: red;
    
}

.nav-link {
    color: aliceblue;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}




















/*contexto*/
.abc {
    padding-top: 180px;
    padding-bottom: 200px;
}

.abf {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10px;
}
/*carrossel*/
.carousel-item img {
    height: 65vh;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 0.2rem;
    backdrop-filter: blur(2px);
}


.cardc {
    padding: 2.0rem;
}

.bope {
    transition: 0.3s;
    border-radius: 25px;
}

.bope:hover {
    transform: translateY(-5px);
}

.texto {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 500;
}

.abc p {
    padding-bottom: 20px;
}
























/*opinião dos caba*/



.mora {
    padding-top: 150px;
}

.bopeo{
    padding-top: 200px;
}



.moras {
    border-radius: 20px;
    transition: 0.3s;
}

.bo {
    border-radius: 20px;
    transition: 0.3s;
    max-width: 100%;
}

.bo:hover {
    transform: translateY(-5px);
}

.moras:hover {
    transform: translateY(-5px);
}
.abd {
    font-size: 3rem;
    font-weight: 650;
}

.terr {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.terro {
    font-size: 3rem;
    font-weight: 600;
    
}

.caixa {
    background-color: rgb(206, 206, 206);
    border-radius: 25px;
    transition: 0.3s;
}

.caixa:hover {
    transform: translateY(-5px);
}